body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(0deg, rgba(73, 73, 73, 0.3), rgba(236, 178, 17, 0.849)), url(/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

#header {
    color: white;
    text-align: center;
    font-size: 5em;
}

#register {
    color: rgb(0, 0, 0);
    text-align: center;
}
#label{
    text-align: center;
}

#race {
    background-color: azure;
    padding: 2em;
    border-width: medium;
    border-color: black;
    border-style: solid;
}

#button {
    text-align: center;
    margin: 1em;
}

#age {
    color: rgb(12, 12, 12);
    text-align: center;
}

#contactdetails {
    text-align: center;
}

#select {
    text-align: center;
}
#press{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    padding: 1em;
    border-radius: .5em;
}