body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(0deg, rgba(73, 73, 73, 0.1), rgba(236, 178, 17, 0.849)), url(/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg);
    background-size: cover;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x:center ;
}

#header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 5em;
    position: relative;
    top: -1em;
}

#register {
    color: rgb(0, 0, 0);
    text-align: center;
}
#label{
    text-align: center;
}

#race {
    background-color: azure;
    padding: 2em;
    /* width style then color */
    border: medium inset black;
    border-radius: 30px;
    position: relative;
    top: -5em;
    margin: auto;
}
#race:hover{
    transform: scale(1.01);
    border: 3px rgb(255, 208, 0) solid;
    box-shadow: 5px 5px 15px black;
    transform: translateY(-.75em);
}

#button {
    text-align: center;
    margin: 1em;
}

#age {
    color: rgb(12, 12, 12);
    text-align: center;
}

#contactdetails {
    text-align: center;
}

#select {
    text-align: center;
}
#press{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    padding: 1em;
    border-radius: .5em;
}
#press:hover{
    background: rgba(236, 178, 17, 0.849);
    color: black;
    font-size: 1em;
    transition: .5s;
    cursor:pointer
}